# Let's Encrypt certificates
letsencrypt/acme.json

# Log files
logs/*.log

# Environment variables
.env

# Authelia sensitive data
authelia/config/users_database.yml
authelia/secrets/
authelia/data/
